[Desktop Entry]
Name=Wenlin4
Exec=/home/perubu/Documents/Github/3.a.1-linux/Linux\\ Mint\\ 20/wenlin.sh
Comment=Wenlin
Terminal=false
Icon=/home/perubu/Documents/Github/3.a.1-linux/Linux Mint 20/LinuxMint: pj's environment/wenlin.png
Type=Application
Name[en_US]=Wenlin4.desktop
